<div class="main-sidebar">
	<div class="main-sidebar-content">
		<h3>Getting Started</h3>
		<ul>
			<li><a href="{{base}}docs/getting-started.html">Getting started</a></li>
			<li><a href="{{base}}docs/configuring.html">Configuring howl.ci</a></li>
			<li><a href="{{base}}docs/api.html">The <code>howlci</code> API</a></li>
		</ul>

		<h3>Tips and Tricks</h3>
		<ul>
			<li><a href="{{base}}docs/matrix.html">Running on multiple versions</a></li>
			<li><a href="{{base}}docs/caching.html">Caching ComputerCraft versions</a></li>
		</ul>
	</div>
</div>
