<div class="main-sidebar">
	<div class="main-sidebar-content">
		<h3>Getting Started</h3>
		<ul>
			<li><a href="?p=docs/getting-started">Getting started</a></li>
			<li><a href="?p=docs/configuring">Configuring howl.ci</a></li>
			<li><a href="?p=docs/api">The <code>howlci</code> API</a></li>
		</ul>

		<h3>Tips and Tricks</h3>
		<ul>
			<li><a href="?p=docs/matrix">Running on multiple versions</a></li>
			<li><a href="?p=docs/caching">Caching ComputerCraft versions</a></li>
		</ul>
	</div>
</div>
