{{#lines.exists}}
	<div class="playback-wrapper" id="playback-{{id}}">
		<label class="toggle computer-follow" title="Follow the log">
			<input type="checkbox" value="1" id="computer-follow-{{id}}" />
			<span class="toggle-content">
				<i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
			</span>
		</label>
		<div class="button-group">
			<label class="button" title="Play by time">
				<input name="playback-mode-{{id}}" id="playback-time-{{id}}" type="radio" value="time" checked/>
				<span class="button-content">
					<i class="fa fa-clock-o" aria-hidden="true"></i>
				</span>
			</label>
			<label class="button" title="Play by packet">
				<input name="playback-mode-{{id}}" id="playback-packet-{{id}}" type="radio" value="packet"/>
				<span class="button-content">
					<i class="fa fa-terminal" aria-hidden="true"></i>
				</span>
			</label>
		</div>

		<div class="button-group">
			<a class="button" href="#!" title="Step backwards one packet">
				<span class="button-content" id="playback-back-{{id}}">
					<i class="fa fa-backward" aria-hidden="true"></i>
				</span>
			</a>
			<a class="button" href="#!" title="Play from this point">
				<span class="button-content" id="playback-play-{{id}}">
					<i class="fa fa-play" aria-hidden="true"></i>
				</span>
			</a>
			<a class="button" href="#!" title="Pause at this point">
				<span class="button-content" id="playback-pause-{{id}}">
					<i class="fa fa-pause" aria-hidden="true"></i>
				</span>
			</a>
			<a class="button" href="#!" title="Step forwards one packet">
				<span class="button-content" id="playback-forward-{{id}}">
					<i class="fa fa-forward" aria-hidden="true"></i>
				</span>
			</a>
		</div>

		<div class="number-range" title="Speed of playback in number of seconds per second">
			<input type="number" min="0" step="0.1" value="0.1" id="playback-speed-time-{{id}}" />
			<div class="descriptor">s/s</div>
		</div>

		<div class="number-range" title="Speed of playback in number of packets per second">
			<input type="number" min="0" step="1" value="30" id="playback-speed-packet-{{id}}" />
			<div class="descriptor">pkt/s</div>
		</div>

		<input type="range" class="playback-progress" min="{{lines.minTime}}" max="{{lines.maxTime}}" value="{{lines.minTime}}" id="playback-progress-{{id}}" step="1" />
	</div>

	<div class="computer-control">
		<div class="computer-log">
			<pre class="computer-output" id="computer-output-{{id}}"></pre>
		</div>
		<div class="computer-terminal" data-sticky-container>
			<div class="computer-terminal-container">
				<canvas class="computer-canvas" id="computer-{{id}}"></canvas>
			</div>
		</div>
	</div>
{{/lines.exists}}
{{^lines.exists}}
	<div class="text-content">
		<p>
			This is odd. We can't seem to find any terminal data for this. Did something go wrong?
			Are you sure you got the right page?
		</p>
	</div>
{{/lines.exists}}
