body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
	"Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
	background-color: $header-back;
	box-sizing: border-box;
	color: $header-fore;
	padding: 10px;
	vertical-align: middle;

	h1 { font-size: 1.5em; }
	a, a:hover { color: inherit !important; }
}

footer {
	background-color: $footer-back;
	box-sizing: border-box;
	color: $footer-fore;
	font-size: 0.7em;
	padding: 10px;

	@include link($grey06, $grey04);
}

h2, h3 {
	overflow-wrap: break-word;
	word-break: break-all;
}

h2 {
	font-size: 2em;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: solid 1px $grey05;
}

h3 {
	font-size: 1.2em;
}

pre, code {
	font-family: "Consolas", "Courier New", monospace;
}

pre {
	padding: 1.2em;
	font-size: 0.8em;
	white-space: pre-wrap;
}

pre.box {
	border: solid 0.2em $grey02;
	background-color: $grey07;
}

em { font-style: italic; }

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

@include link($link, lighten($link, 20%));
a {
	text-decoration: none;
}

@include icon-link($grey03, $grey00);

.aria-hint {
	display: none;
}

.text-content a {
	font-weight: 500;
}

ul.list {
	list-style-type: disc;
	list-style-position: inside;

	li {
		padding: 3px 0px;
	}
}

.license {
	font-size: 0.7em;
	border-bottom: solid 1px $grey05;
	margin-bottom: 20px;
}

.fa.fa-0 {
	font-size: 0.7em;
}

// Reset buttons
button {
	background: none;
	border: none;
}
