/*
	Handles various layout items
*/

html, body {
	margin:0;
	padding:0;
	height:100%;
}

#container {
	min-height:100%;
	position: relative;

	header {
		width: 100%;
	}

	#content {
		padding: 10px;
		padding-bottom: $footer-height;
	}

	footer {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		width: 100%;
		height: $footer-height;
	}

	#content {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
}

.padded-content {
	padding: 10px;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}