$footer-height: 30px;
$header-height: 60px;

$base00: #151515;
$base01: #202020;
$base02: #303030;
$base03: #505050;
$base04: #B0B0B0;
$base05: #D0D0D0;
$base06: #E0E0E0;
$base07: #FFFFFF;
$base08: #FF0086;
$base09: #FD8900;
$base0A: #ABA800;
$base0B: #00C918;
$base0C: #1faaaa;
$base0D: #3777E6;
$base0E: #AD00A1;
$base0F: #cc6633;
$grey01: #707070;
$grey02: #909090;

@import "reset.scss";
@import "layout.scss";

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
	"Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
	vertical-align: middle;
	background-color: $base0C;
	color: $base07;

	h1 { font-size: 1.5em; }
	a, a:hover { color: inherit !important; }
}

.fa.fa-0 {
	font-size: 0.7em;
}

footer {
	background-color: $base03;
	color: $base07;
	font-size: 0.7em;

	a, a:visited, a:active { color: $base06; }
	a:hover { color: $base04; }
}

h2 {
	font-size: 2em;
	padding-bottom: 10px;
	margin-bottom: 10px;
	overflow-wrap: break-word;
	word-break: break-all;

	border-bottom: solid 1px $base05;
}

h3 {
	font-size: 1.2em;
	margin-top: 4px;
	overflow-wrap: break-word;
	word-break: break-all;
}

pre, code { font-family: "Consolas", monospace; }
pre {
	padding: 1.2em;
	font-size: 0.8em;
	white-space: pre-wrap;
}

pre.box {
	border: solid 0.2em $base03;
	background-color: $base06;
}

em { font-style: italic; }

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

a, a:visited, a:active {
	color: $grey01;
	text-decoration: none;
}

ul.list {
	list-style-type: disc;
	list-style-position: inside;

	li {
		padding: 3px 0px;
	}
}

a:hover {
	color: $base00;
}

.license {
	font-size: 0.7em;
	border-bottom: solid 1px $base05;
	margin-bottom: 20px;
}

@mixin status($color) {
	> .status-label, &.status-label {
		a, a:visited, a:active { color: $base07; }
		a:hover { color: lighten($color, 40%); }

		background-color: darken($color, 20%);
		color: $base07;
	}

	> .status-info {
		border-left: solid 5px $color;
		padding-left: 5px;
	}
}

.status-passed { @include status($base0B); }
.status-failed { @include status($base08); }
.status-errored { @include status($base0F); }

.build {
	margin-bottom: 10px;
	width: 100%;

	> * { padding: 10px; }
}

.jobs {
	margin-top: 20px;
	display: flex;

	li {
		padding: 10px;
		margin: 0px;

		&.status-passed:not(.active) { background-color: lighten($base0B, 5%); }
		&.status-failed:not(.active) { background-color: lighten($base08, 5%); }
		&.status-errored:not(.active) { background-color: lighten($base0F, 5%); }

		> a:first-child {
			margin-right: 10px;
		}
	}
}

.job {
	display: none;
	border-top: solid 5px transparent;

	&.active { display: block; }

	&.status-passed { border-top-color: darken($base0B, 20%); }
	&.status-failed { border-top-color: darken($base08, 20%); }
	&.status-errored { border-top-color: darken($base0F, 20%); }
}

.computer-control {
	@include grid-container();

	.computer-log, .computer-terminal {
		@include grid-col(30px, 50%, 800px);
		margin-top: 20px;
		margin-bottom: 20px;
	}

	@media(max-width: 800px) {
		.computer-log {
			order: 2;
		}
	}
}

.computer-canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -o-crisp-edges;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;

	display: block;

	margin-left: auto;
	margin-right: auto;

	background-color: #000;
	padding: 4px;
	box-sizing: border-box;
}

.computer-output, .computer-terminal-wrapper {
	display: block;
	width: 100%;
}

.playback-wrapper {
	width: 100%;
	padding: 10px 0px;
	height: 50px;
	box-sizing: border-box;
	background: rgba(white, 0.9);
	z-index: 4;
	display: flex;
	align-items: center;

	&.fixed + .computer-control {
		margin-top: 50px;
	}

	.playback-progress {
		flex-grow: 1;
	}

	.computer-follow {
		margin-right: 5px;
	}
}

.computer-output {
	height: 100%;
	box-sizing: border-box;
	border: solid 0.2em $base03;
	background-color: $base06;

	p {
		overflow-wrap: break-word;
		word-break: break-all;
	}

	.log-entry {
		color: $base03;
		width: 100%;
		display: table;

		span {
			display: table-cell;
		}

		.log-level {
			font-weight: bold;
			width: 6em;
			text-align: right;
			padding-right: 3px;
		}

		.log-level-close,
		.log-level-verbose,
		.log-level-debug
		{ color: $base01; }

		.log-level-warning,
		.log-level-warn
		{ color: $base09; }

		.log-level-info { color: $base0D; }
		.log-level-error { color: $base08; }
		.log-level-failure { color: $base0E; }
		.log-level-success { color: $base0B; }
		.log-level-close { color: $base01; }
	}
}

.button-group {
	display: flex;
	margin: 2px;

	.button {
		cursor: pointer;
		padding: 5px;

		border-color: $base06;
		border-width: 1px;
		border-top-style: solid;
		border-bottom-style: solid;

		.button-content {
			display: block;
			color: $base03;
		}

		&:first-child {
			border-left-style: solid;
		}

		&:last-child  {
			border-right-style: solid;
		}

		& > input[type=radio] {
			display: none;
		}

		&:hover > .button-content {
			color: $base0C;
		}

		& > input[type=radio]:checked ~ .button-content, &:active > .button-content {
			color: $base0D;
		}
	}
}

.toggle {
	cursor: pointer;
	padding: 5px;

	.toggle-content {
		color: $base03;
		display: block;
	}

	& > input[type=checkbox] {
		display: none;
	}

	& > input[type=checkbox]:checked ~ .toggle-content {
		color: $base0D;
	}
}
