$footer-height: 30px;
$header-height: 60px;

$base00: #151515;
$base01: #202020;
$base02: #303030;
$base03: #505050;
$base04: #B0B0B0;
$base05: #D0D0D0;
$base06: #E0E0E0;
$base07: #FFFFFF;
$base08: #FF0086;
$base09: #FD8900;
$base0A: #ABA800;
$base0B: #00C918;
$base0C: #1faaaa;
$base0D: #3777E6;
$base0E: #AD00A1;
$base0F: #cc6633;
$grey01: #707070;
$grey02: #909090;

@import "reset.scss";
@import "layout.scss";

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
	"Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
	vertical-align: middle;
	background-color: $base0C;
	color: $base07;

	h1 { font-size: 1.5em; }
	a, a:hover { color: inherit !important; }
}

.fa.fa-0 {
	font-size: 0.7em;
}

footer {
	background-color: $base03;
	color: $base07;
	font-size: 0.7em;
}

h2 {
	font-size: 2em;
	padding-bottom: 10px;
	margin-bottom: 10px;
	overflow-wrap: break-word;
	word-break: break-all;

	border-bottom: solid 1px $base05;
}

h3 {
	font-size: 1.2em;
	margin-top: 4px;
	overflow-wrap: break-word;
	word-break: break-all;
}

pre, code { font-family: "Consolas", monospace; }
pre {
	padding: 1.2em;
	font-size: 0.8em;
	white-space: pre-wrap;
}

pre.box {
	border: solid 0.2em $base03;
	background-color: $base06;
}

em { font-style: italic; }

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

a, a:visited, a:active {
	color: $base04;
	text-decoration: none;
}

a:hover {
	color: $base00;
	text-decoration: none;
}

.build {
	@mixin build($color) {
		> h3 {
			a, a:visited, a:active { color: $base07; }
			a:hover { color: lighten($color, 40%); }

			background-color: darken($color, 20%);
			color: $base07;
		}

		> .build-info {
			border-left: solid 5px $color;
			padding-left: 5px;
		}
	}

	margin-bottom: 10px;
	width: 100%;

	&.build-passed {
		@include build($base0B);
	}

	&.build-failed {
		@include build($base08);
	}

	&.build-errored {
		@include build($base0F);
	}

	> * { padding: 10px; }
}

.computer-control {
	@include grid-container();

	.computer-log, .computer-terminal {
		@include grid-col(30px, 50%, 800px);
		margin-top: 20px;
		margin-bottom: 20px;
	}

	@media(max-width: 800px) {
		.computer-log {
			order: 2;
		}
	}
}

.computer-canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -o-crisp-edges;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;

	display: block;

	margin-left: auto;
	margin-right: auto;

	background-color: #000;
	padding: 4px;
	box-sizing: border-box;
}

.computer-output, .computer-terminal-wrapper, .computer-time {
	display: block;
	width: 100%;
}

.computer-output {
	height: 100%;
	box-sizing: border-box;
	border: solid 0.2em $base03;
	background-color: $base06;

	p {
		overflow-wrap: break-word;
		word-break: break-all;
	}

	.log-entry {
		color: $base03;
		width: 100%;
		display: table;

		span {
			display: table-cell;
		}

		.log-level {
			font-weight: bold;
			width: 5em;
			text-align: right;
			padding-right: 3px;
		}

		.log-level-close,
		.log-level-verbose,
		.log-level-debug
		{ color: $base01; }

		.log-level-warning,
		.log-level-warn
		{ color: $base09; }

		.log-level-error { color: $base08; }
		.log-level-failure { color: $base0E; }
		.log-level-success { color: $base0B; }
		.log-level-close { color: $base01; }
	}
}
