$footer-height: 30px;
$header-height: 60px;

$grey00: #151515;
$grey01: #202020;
$grey02: #505050;
$grey03: #707070;
$grey04: #B0B0B0;
$grey05: #D0D0D0;
$grey06: #E0E0E0;
$grey07: #ECF0F1;
$grey08: #FFFFFF;

$status-passed: #00630C;
$status-failed: #CF000F;
$status-errored:#D35400;

$base08: #FF0086;
$base09: #FD8900;
$base0B: #00C918;
$base0C: #1FAAAA;
$base0D: #3777E6;
$base0E: #AD00A1;

$header-back: $base0C;
$header-fore: $grey08;

$footer-back: $grey02;
$footer-fore: $grey08;

$link: darken($base0D, 20%);

$status-colors: (
	passed: $status-passed,
	failed: $status-failed,
	errored: $status-errored,
);

@mixin link($normal, $hover) {
	a {
		&, &:visited, &:active { color: $normal; }
		&:hover { color: $hover; }
	}
}

@mixin icon-link($normal, $hover) {
	a.icon-link {
		& .fa, &:visited .fa, &:active .fa { color: $normal; }
		&:hover  .fa { color: $hover; }
	}
}

@import "reset.scss";
@import "layout.scss";
@import "general.scss";

@each $key, $color in $status-colors {
	.status-#{$key} {
		> .status-label, &.status-label {
			@include link($grey08, lighten($color, 40%));
			@include icon-link($grey08, lighten($color, 40%));

			background-color: $color;
			color: $grey08;
		}

		> .status-info {
			border-left: solid 5px lighten($color, 10%);
			padding-left: 5px;
		}
	}
}

.build {
	margin-bottom: 10px;
	width: 100%;

	> * { padding: 10px; }
}

.jobs {
	margin-top: 20px;
	display: flex;

	li {
		padding: 10px;
		margin: 0px;

		@each $key, $color in $status-colors {
			&.status-#{$key}:not(.active) {
				background-color: lighten($color, 20%);
			}
		}

		> a:first-child {
			margin-right: 10px;
		}
	}
}

.job {
	display: none;
	border-top: solid 5px transparent;

	&.active { display: block; }

	@each $key, $color in $status-colors {
		&.status-#{$key} {
			border-top-color: $color;
		}
	}
}

.computer-control {
	@include grid-container();

	.computer-log, .computer-terminal {
		@include grid-col(30px, 50%, 800px);
		margin-top: 20px;
		margin-bottom: 20px;
	}

	@media(max-width: 800px) {
		.computer-log {
			order: 2;
		}
	}
}

.computer-canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -o-crisp-edges;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;

	display: block;

	margin-left: auto;
	margin-right: auto;
}

.computer-output, .computer-terminal-wrapper {
	display: block;
	width: 100%;
}

.playback-wrapper {
	width: 100%;
	padding: 10px 0px;
	height: 30px;
	background: rgba(white, 0.9);
	z-index: 4;
	display: flex;
	align-items: center;

	&.fixed + .computer-control {
		margin-top: 50px;
	}

	.playback-progress {
		flex-grow: 1;
		min-width: 0px;

		input {
			width: 100%;
		}
	}

	> * {
		height: 30px;
		box-sizing: border-box;
		margin: 0px 2px;
	}
}

.computer-output {
	height: 100%;
	box-sizing: border-box;
	border: solid 0.2em $grey02;
	background-color: $grey07;

	p {
		overflow-wrap: break-word;
		word-break: break-all;
	}

	.log-entry {
		color: $grey02;
		width: 100%;
		display: table;

		span {
			display: table-cell;
		}

		.log-level {
			font-weight: bold;
			width: 6em;
			text-align: right;
			padding-right: 3px;
		}

		.log-level-close,
		.log-level-verbose,
		.log-level-debug
		{ color: $grey01; }

		.log-level-warning,
		.log-level-warn
		{ color: $base09; }

		.log-level-info { color: $base0D; }
		.log-level-error { color: $base08; }
		.log-level-failure { color: $base0E; }
		.log-level-success { color: $base0B; }
		.log-level-close { color: $grey01; }
	}
}

.button-group {
	display: flex;
	border: 1px solid $grey06;

	.button {
		cursor: pointer;
		padding: 5px;
		.button-content {
			display: block;
			color: $grey02;
		}

		& > input[type=radio] {
			display: none;
		}

		&:hover > .button-content {
			color: $base0C;
		}

		& > input[type=radio]:checked ~ .button-content, &:active > .button-content {
			color: $base0D;
		}
	}
}

.toggle {
	display: flex;
	cursor: pointer;
	padding: 6px; // 5px + 1px border. Yes, this is awful.

	.toggle-content {
		color: $grey02;
	}

	& > input[type=checkbox] {
		display: none;
	}

	& > input[type=checkbox]:checked ~ .toggle-content {
		color: $base0D;
	}
}

.number-range {
	display: flex;

	> * {
		padding: 5px;
		border-color: $grey06;
		border-width: 1px;
		border-top-style: solid;
		border-bottom-style: solid;
	}

	> input {
		width: 40px;
	}

	.descriptor {
		font-size: 0.8em;
	}

	> *:first-child { border-left-style: solid; }
	> *:last-child { border-right-style: solid; }
}
