{{#success}}
	<h2>
		{{repo.slug}}
		<span class="pull-right">
			<a href="https://github.com/{{repo.slug}}" title="Open on GitHub" target="_blank">
				<span class="fa fa-0 fa-github"></span>
			</a>
			<a href="https://travis-ci.org/{{repo.slug}}" title="Open on Travis.org" target="_blank">
				<span class="fa fa-0 fa-cubes"></span>
			</a>
		</span>
	</h2>
	<div class="build build-{{build.state}}">
		<h3>
			<a href="?p=build&id={{id}}">
				#{{build.number}} {{build.state}} :: <span class="fa fa-0 fa-code-fork"></span> {{commit.branch}}
			</a>
			<span class="pull-right">
				<a href="https://github.com/{{repo.slug}}/commit/{{commit.sha}}" title="Open on GitHub" target="_blank">
					<span class="fa fa-github"></span>
				</a>
				<a href="https://travis-ci.org/{{repo.slug}}/builds/{{build.id}}" title="Open on Travis.org" target="_blank">
					<span class="fa fa-cubes"></span>
				</a>
			</span>
		</h3>
		<div class="build-info">
			<pre>{{commit.author_name}}: {{commit.message}}</pre>
		</div>
	</div>

	{{#logs}}
		<div class="job">
			<h3>Job #{{job.id}}</h3>

			<div class="computer-control">
				<div class="computer-log">
					<pre class="computer-output" id="computer-output-{{job.id}}"></pre>
				</div>
				<div class="computer-terminal">
					<div class="computer-terminal-container">
						<input type="range" class="computer-time" min="{{lines.minTime}}" max="{{lines.maxTime}}" value="{{lines.minTime}}" id="computer-time-{{job.id}}" step="1" />
						<canvas class="computer-canvas" id="computer-{{job.id}}"></canvas>
					</div>
				</div>
			</div>
		</div>
	{{/logs}}
{{/success}}
{{^success}}
	<div class="text-content">{{>request_error}}</div>
{{/success}}
