<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>howl.ci</title>
		{{#development}}
			<link rel="stylesheet" href="{{base}}main.css?v={{version}}" />
		{{/development}}
		{{^development}}
			<link rel="stylesheet" href="{{base}}main.min.css?v={{version}}" />
		{{/development}}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	</head>
	<body>
		<div id="container">
			<header>
				<h1 class="pull-left"><a href="{{base}}">howl.ci</a></h1>

				<div class="pull-right">
					<form class="repo-search">
						<input type="hidden" name="p" value="travis/builds">
						<label>
							<span class="aria-hint">Repo/Build</span>
							<input type="text" name="repo" placeholder="User / Repository" class="repo-input"/>
						</label>
						<button type="submit" class="repo-submit">
							<span class="aria-hint">Search</span>
							<span class="fa fa-search"></span>
						</button>
					</form>
				</div>
			</header>
			<div id="content">
{{>content}}
			</div>
			<footer>
				<span class="pull-left">
					&copy; {{date.fullYear }} SquidDev with <a href="{{base}}credits.html" data-jslicense="1">help from others</a>
				</span>
				<span class="pull-right">Version <code>{{version}}</code></span>
			</footer>
		</div>

		{{#javascript}}
			{{#development}}
				{{#scripts}}
					<script src="{{base}}{{script}}?v={{version}}"></script>
				{{/scripts}}
			{{/development}}
			{{^development}}
				<script src="{{base}}main.min.js?v={{version}}"></script>
			{{/development}}
		{{/javascript}}
	</body>
</html>
