<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>howl.ci</title>
		{{#development}}
			<link rel="stylesheet" href="main.css?v={{version}}" />
		{{/development}}
		{{^development}}
			<link rel="stylesheet" href="main.min.css?v={{version}}" />
		{{/development}}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	</head>
	<body>
		<div id="container">
			<header>
				<h1><a href="?">howl.ci</a></h1>
			</header>
			<div id="content">
				<div style="text-align:center; margin-top:20px; margin-bottom:20px">
					<i style="color:#bbb" class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
				</div>
				<div style="text-align:center;">
					<p>
						We're either loading or we encountered a problem.
					</p>
					<p>
						If you're still reading you've probably hit an error (or your network is <em>really</em> slow).
					</p>
				</div>
			</div>
			<footer>
				<span class="pull-left">
					&copy; {{date.fullYear }} SquidDev with <a href="?p=credits">help from others</a>
				</span>
				<span class="pull-right">Version <code>{{version}}</code></span>
			</footer>
		</div>

		{{#development}}
			{{#scripts}}
				<script src="{{script}}?v={{version}}"></script>
			{{/scripts}}
		{{/development}}
		{{^development}}
			<script src="main.min.js?v={{version}}"></script>
		{{/development}}
	</body>
</html>
