{{#success}}
	<h2>
		{{url}}
		<span class="pull-right">
			<a href="{{url}}" title="Open this URL" target="_blank">
				<span class="fa fa-0 fa-link"></span>
			</a>
		</span>
	</h2>

	{{>partial/terminal}}
{{/success}}
{{^success}}
	<div class="center-content text-content">
	<h2>
		{{url}}
		<span class="pull-right">
			<a href="{{url}}" title="Open this URL" target="_blank">
				<span class="fa fa-0 fa-link"></span>
			</a>
		</span>
	</h2>

	{{#fetched}}
		<p>We fetched your page OK but couldn't extract a terminal from it. Are you sure it was the right one?</p>
	{{/fetched}}
	{{#status}}
		<p>My AJAX request went to your URL and all it got was this lousy status code: <code>{{status}}</code></p>
		<hr />
		<h3>Response body:</h3>
		<p><pre>{{text}}</pre></p>
		<h3>Response headers:</h3>
		<p><pre>{{headers}}</pre></p>
	{{/status}}
	{{#nothing}}
		<p>We couldn't connect to this site at at all: maybe it is down?
	{{/nothing}}
	</div>
{{/success}}
