{{#success}}
	<h2>
		{{repo.slug}}
		<span class="pull-right">
			<a href="https://github.com/{{repo.slug}}" title="Open on GitHub" target="_blank" class="icon-link">
				<span class="fa fa-0 fa-github" aria-hidden="true"></span>
				<span class="aria-hint">Open on GitHub</span>
			</a>
			<a href="https://travis-ci.org/{{repo.slug}}" title="Open on Travis.org" target="_blank" class="icon-link">
				<span class="fa fa-0 fa-cubes" aria-hidden="true"></span>
				<span class="aria-hint">Open on Travis.org</span>
			</a>
		</span>
	</h2>
	<div class="build status-{{build.state}}">
		<h3 class="status-label">
			<a href="?p=travis/build&id={{id}}">
				#{{build.number}} {{build.state}} :: <span class="fa fa-0 fa-code-fork"></span> {{commit.branch}}
			</a>
			<span class="pull-right">
				<a href="https://github.com/{{repo.slug}}/commit/{{commit.sha}}" title="Open on GitHub" target="_blank" class="icon-link">
					<span class="fa fa-github" aria-hidden="true"></span>
					<span class="aria-hint">Open on GitHub</span>
				</a>
				<a href="https://travis-ci.org/{{repo.slug}}/builds/{{build.id}}" title="Open on Travis.org" target="_blank" class="icon-link">
					<span class="fa fa-cubes" aria-hidden="true"></span>
					<span class="aria-hint">Open on Travis.org</span>
				</a>
			</span>
		</h3>
		<div class="status-info">
			<pre>{{commit.author_name}}: {{commit.message}}</pre>
		</div>
	</div>

	<ul class="jobs" role="tablist">
		{{#logs}}
			<li class="status-{{job.state}} status-label">
				<a href="#job-{{job.id}}" id="job-link-{{job.id}}" aria-controls="job-{{job.id}}" role="tab" aria-selected="false">#{{job.number}} {{build.state}}</a>
				<a href="https://travis-ci.org/{{repo.slug}}/jobs/{{job.id}}" title="Open on Travis.org" target="_blank" class="icon-link">
					<span class="fa fa-cubes" aria-hidden="true"></span>
					<span class="aria-hint">Open on Travis.org</span>
				</a>
			</li>
		{{/logs}}
	</ul>
	{{#logs}}
		<div class="job status-{{job.state}}" id="job-{{job.id}}" role="tabpanel" data-sticky-container>
			{{#config}}
				<div class="job-config">
					<h3>Configuration</h3>
					<table class="table-rows table-grid">
						{{#job.config.env}}
							<tr>
								<th>Environment</th>
								<td><code>{{job.config.env}}</code></td>
							</tr>
						{{/job.config.env}}
					</table>
				</div>
			{{/config}}
			<div>
				{{>partial/terminal}}
			</div>
		</div>
	{{/logs}}
{{/success}}
{{^success}}
	<div class="text-content">{{>travis/error}}</div>
{{/success}}
