<div class="center-content">
{{#success}}
	<h2>
		{{repo}}
		<span class="pull-right">
			<a href="https://github.com/{{repo}}" title="Open on GitHub" target="_blank" class="icon-link">
				<span class="fa fa-0 fa-github" aria-hidden="true"></span>
				<span class="aria-hint">Open on GitHub</span>
			</a>
			<a href="https://travis-ci.org/{{repo}}" title="Open on Travis.org" target="_blank" class="icon-link">
				<span class="fa fa-0 fa-cubes" aria-hidden="true"></span>
				<span class="aria-hint">Open on Travis.org</span>
			</a>
		</span>
	</h2>

	{{#builds}}
		<div class="build status-{{state}}">
			<h3 class="status-label">
				<a href="?p=travis/build&id={{id}}">
					#{{number}} {{state}} :: <span class="fa fa-0 fa-code-fork"></span> {{commit.branch}}
				</a>
				<span class="pull-right">
					<a href="https://github.com/{{repo}}/commit/{{commit.sha}}" title="Open on GitHub" target="_blank" class="icon-link">
						<span class="fa fa-github" aria-hidden="true"></span>
						<span class="aria-hint">Open on GitHub</span>
					</a>
					<a href="https://travis-ci.org/{{repo}}/builds/{{id}}" title="Open on Travis.org" target="_blank" class="icon-link">
						<span class="fa fa-cubes" aria-hidden="true"></span>
						<span class="aria-hint">Open on Travis.org</span>
					</a>
				</span>
			</h3>
			<div class="build-info">
				<pre>{{commit.author_name}}: {{commit.message}}</pre>
			</div>
		</div>
	{{/builds}}
	{{^builds}}
		<p>It doesn't appear this repo has any builds. Are you sure it exists?</p>
	{{/builds}}
{{/success}}
{{^success}}
	{{>travis/error}}
{{/success}}
</div>
